# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Dec 5 2020 10:19:46

# Family & Device:    iCE40LP8K

# Package:            CM81

# ##############################################################################

###IOSet List 1
set_io LED B3

